/* VARIABLES */

:root {
  --black: rgb(24, 21, 21);
  --black-transparent: rgba(35, 35, 35, 0.8);
  --black-transparent-2: rgba(35, 35, 35, 0.9);
  --brown: rgb(145, 38, 38);
  --brown-transparent: rgba(86, 11, 11, 0.7);
  --gray: rgb(105, 105, 105);
  --white: antiquewhite;
  --white-dark: rgb(216, 188, 152);
}

/* ANIMATIONS */

@keyframes expand-width-rl {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(-100); }
}

@keyframes collapse-width-lr {
  0% { transform: scaleX(-100%); }
  100% { transform: scaleX(0); }
}

@keyframes movein {
  from { left: -500px; }
  to   { left: 10px; }
}

@keyframes moveout {
  from { left: 10px; }
  to   { left: -500px; }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

/* STYLE IMPLEMENTATION */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Andale Mono, monospace;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  margin: 0;
  /* background-size: 1800px !important;
  background: url('https://imagizer.imageshack.com/img924/9002/qrXwrg.jpg') #090909 no-repeat fixed; */
  overflow-x: hidden;
}

#Background {
  position: fixed;
  top: 0;
  left: 0;
  filter: brightness(0.8);
  transform: translate(0, -100px);
  transition: all .5s ease-in-out;
  z-index: -1;
}

#BackgroundImage {
  display: block;
}

body #LoadingScreen {
  color: var(--white);
  background-color: black;
  font-size: 2rem;
  height: 100vh;
  vertical-align: middle;
  width: 100vw;
}

#LoadingScreen p {
  position: absolute;
  top: 10vh;
  left: 7vw;
}

body #PageBody{
  color: var(--white);
  display: block;
  font-size: 1.2rem;
  transition: all .5s ease-in-out;
}

.cart-drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--brown);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: var(--white);
}

.cart-drawer .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#CartTitle {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px double var(--white);
  padding: 0 0 10px 20px;
}
#ClearCart {
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 0 6px 0 var(--black);
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}
#CartTitle #ClearCart {
  visibility: hidden;
}
#CartTitle #NumberOfCartItems {
  display: none;
}

#CartEmpty {
  height: 300px;
  position: relative;
}
#CartEmpty div {
  font-size: 1.25rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#CartItemAdd, #CartItemRemove {
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 var(--white);
  color: var(--brown);
  cursor: pointer;
  font-weight: 700;
  height: 20px;
  text-align: center;
  width: 20px;
}
#CheckoutBtn {
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 var(--white);
  color: var(--brown);
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  visibility: 'hidden';
}

#AddBtnWrapper {
  text-align: center;
}
#AddBtnWrapper button, .atc-btn, .expand-btn {
  background-color: var(--white);
  box-shadow: 0 0 6px 0 var(--white);
  border: none;
  border-radius: 10px;
  color: var(--brown);
  cursor: pointer;
  font-family: Andale Mono, monospace;
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: 550;
  letter-spacing: 1.5px;
  padding: 8px 12px;
  transition: all .3s ease-in-out;
}
#AddBtnWrapper button:hover, .atc-btn:hover, .expand-btn:hover {
  background-color: var(--white-dark);
}

main .bg-container {
  display: none;
  position: absolute;
  top: 0;
}

header {
  font-size: 1.3rem;
  height: 64px;
  line-height: 64px;
  padding-bottom: 10px;
  padding-inline: 10px;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

header ul {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

header > nav > ul {
  float: right;
  margin-right: 5vw;
}

header .middle-menu {
  padding-right: 0;
}

header .middle-menu li {
  padding: 0 20px;
}

.middle-menu a:after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--white);
  width: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 0.5s ease-in-out;
  transition-delay: 0s;
  transform: translateY(-17px);
}

.middle-menu a:hover:after { 
  width: 100%; 
  border-bottom: 3px solid var(--white);
}

header .right-menu {
  padding-left: 0;
}

header .right-menu li {
  padding: 0 10px;
}

header ul li {
  list-style: none;
}

header a {
  color: var(--white);
  text-decoration: none;
}

#SearchGroup {
  padding-left: 0;
}

input[type=search] {
  background-color: var(--brown);
  border: 1px solid var(--white);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--white);
  font-family: Andale Mono, monospace;
  font-size: 20px;
  font-variant: small-caps;
  height: 30px;
  letter-spacing: 0.5px;
  padding-left: 12px !important;
  padding-bottom: 4px !important; 
  transform: translateY(-3px) translateX(10px);
  transition: 1s;
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
}
input[type=search]:focus {
  width: 200px;
  box-shadow: 0 0 2px 0 pink;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration { display: none; }
#SearchGroup input {
  padding-left: 0;
}
#SearchGroup {
  position: relative;
  text-align: right;
}
#SearchGroup i {
  position: absolute;
  right: 0;
  top: 0px;
  padding: 0 15px 0 0;
  transition: 1s;
  transform: scale(0.75);
}
.fa-solid.fa-magnifying-glass {
  cursor: pointer;
  padding: 0 3px;
}

#CartBtn {
  cursor: pointer;
  margin-left: 10px;
  z-index: 10;
}
#Badge {
  background-color: var(--black-transparent);
  border-radius: 50%;
  display: none;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding-left: 1px;
  position: absolute;
  right: 130px;
  text-align: center;
  top: 33px;
  width: 14px;
}

.section {
  /* height: 95vh;
  margin-bottom: 50px;
  margin-top: 20px; */
  padding: 10px;
}

#HeroSection {
  height: 85vh;
}

#CatalogSection {
  padding: 0 !important;
}

#CatalogCategoriesSelector {
  background-color: var(--black-transparent);
  border: 1px solid var(--white-dark);
  border-left: none;
  border-right: none;
  font-size: 1.7rem;
  height: 60px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  position: sticky;
  top: 70px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

#CatalogCategoriesSelector ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#CatalogCategoriesSelector li {
  padding: 0 15px;
  border-right: 1px solid var(--white);
}

#CatalogCategoriesSelector li:nth-child(1) {
  border-left: 1px solid var(--white);
}

#CatalogCategoriesSelector li:last-child {
  border-right: none;
}

#CategoriesMenu li {
  cursor: pointer;
  list-style: none;
}

.category-selection {
  transition: all .3s ease-in-out;
}

.active-category {
  font-size: 1.75rem;
  transition: all .3s ease-in-out;
}

#AllCatalog {
  padding-top: 60px;
}

.atc-btn, .expand-btn {
  font-family: Georgia;
  font-size: 14px;
  font-variant: normal;
}

#BrandLogo {
  position: absolute;
  top: 30px;
  left: -50px;
}
#Tagline {
  font-size: 1.75rem;
  font-style: italic;
  position: absolute;
  top: 40vh;
  left: 35vw;
}
#ScrollToCatalog {
  position: absolute;
  top: 50vh;
  left: 70%;
}
#ScrollToCatalogBtn {
  background-color: var(--white);
  box-shadow: 0 0 6px 0 var(--white);
  border: 1px solid var(--brown);
  border-radius: 100px;
  color: var(--brown);
  cursor: pointer;
  font-family: Andale Mono, monospace;
  font-size: 1.75rem;
  font-variant: small-caps;
  font-weight: 550;
  letter-spacing: 1px;
  padding: 5px 35px;
  transition: all .5s ease-in-out;
}
#ScrollToCatalogBtn:hover {
  background-color: var(--white-dark);
}

/* #HeroSection > div {
  position: relative;
}

#HeroSection > div:before {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
} */

.catalog-grid-container {
  background-color: transparent;
  display: grid;
  font-family: Georgia;
  font-variant: normal;
  gap: 5px;
  overflow: hidden;
  padding: 20px;
}

.item-card {
  background-color: brown;
  /* border: 1px solid darkred; */
  border-radius: 6px;
  height: 500px;
  margin-right: 10px;
  /* padding: 1vh 1vw;
  margin: 1vh 1vw; */
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
/* .catalog-grid-item .card-body {
  width: 22vw;
  padding: 0 0 15px 20px;
} */
.item-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 40%; */
}
.item-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* .catalog-grid-item:hover {
  transform: scale(1);
} */
.item-card .card-body {
  padding: 0 15px;
}
.item-card .item-title {
  font-size: 16px;
  margin: 10px 0 !important;
}
.item-card .item-description {
  font-size: 12px;
  font-variant: normal;
  text-align: justify;
}
.item-card .see-more-txt {
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
}
.item-card .see-more-txt:hover {
  border-bottom: 1px solid var(--white);
}
.item-card-footer-wrapper {
  align-items: center;
  background-color: transparent;
  display: grid;
  font-size: 14px;
  gap: 5px;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
}
.item-card-footer-wrapper .atc-btn {
  font-family: sans-serif;
  font-size: 14px;
}

.item-card-footer-item {
  padding-left: 15px;
}

/* main {
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
  background-color: #108ee9;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #7dbcea;
} */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #3a3a3a;
}
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 4px;
  height: 50px;
}

/* CAROUSEL */

.carousel_wrapper {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  color: var(--white);
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel_btn {
  padding: 5px 15px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown-transparent);
  cursor: pointer;
  position: absolute;
  color: var(--white);
  font-size: 3rem;
  transform: translateY(-50%);
  top: 50%;
  height: 100%;
}
.dots {
  margin: 0;
  padding: 0;
}
.dots li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.carousel {
  width: 90vw;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.carousel_slider {
  border-radius: 6px;
  width: 100%;
  height: 87%;
  overflow: hidden;
  position: relative;
}
.content_inner_slider {
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.content-chunk {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}
.content-chunk.active {
  visibility: visible;
}
.prev_button {
  left: 0;
}
.next_button {
  right: 0;
}
.dots {
  display: flex;
  margin: 1rem 0;
}
.dot {
  width: .7rem;
  height: .7rem;
  border: 1px solid var(--white-dark);
  border-radius: 50%;
  margin: 0 5px !important;
  cursor: pointer;
}
#DeliverySection {
  text-align: center;
}
#DeliverySection h2 {
  text-align: left;
}
#DeliverySection p {
  font-size: 44px;
  font-style: italic;
  text-align: center;
}
#DeliveryFormWrapper {
  background-color: var(--black-transparent-2);
  border-radius: 10px;
  display: inline-block;
  height: 140px;
  padding: 20px 40px 40px 40px;
  /* width: fit-content; */
}
#DeliveryForm {
  display: block;
  margin-top: 40px;
}
#DeliveryForm form {
  display: inline-flex;
}
#DeliveryForm .form-item {
  text-align: left;
}
#DeliveryForm .label-wrapper {
  margin-left: 25px;
  background-color: var(--black-transparent-2);
  border-radius: 5px;
  color: var(--white);
  font-size: 20px;
  padding: 0 5px;
  position: relative;
  width: min-content;
  z-index: 500;
}
#DeliveryForm input[type=text] {
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--black);
  font-family: Andale Mono, monospace;
  font-size: 20px;
  font-variant: small-caps;
  height: 45px;
  letter-spacing: 0.5px;
  padding-left: 10px !important;
  padding-bottom: 4px !important; 
  transform: translateY(-30px) translateX(10px);
  transition: 1s !important;
  width: 250px;
  -webkit-transition: width 0.4s ease-in-out;
}
#DeliveryForm input[type=text]:focus {
  width: 250px;
  box-shadow: 0 0 2px 0 pink;
}
#DeliveryForm input[type=text]::-webkit-search-decoration,
#DeliveryForm input[type=text]::-webkit-search-cancel-button,
#DeliveryForm input[type=text]::-webkit-search-results-button,
#DeliveryForm input[type=text]::-webkit-search-results-decoration { display: none; }
#DeliveryForm input[type=submit] {
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-family: Andale Mono, monospace;
  font-size: 20px;
  font-variant: small-caps;
  height: 45px;
  letter-spacing: 0.5px;
  padding-left: 6px !important;
  padding-bottom: 4px !important; 
  transform: translateY(15px) translateX(10px);
  transition: 1s;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
}
#DeliveryForm input[type=submit]:hover {
  background-color: var(--white);
  color: var(--black);
}
#DeliverySubmitModal.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 700; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all .5s ease-in-out;
}
.modal-content {
  background-color: var(--black-transparent);
  color: var(--white);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-body {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#ReceiverName {
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
}
#ReceiverAddress {
  font-size: 20px;
  font-weight: 500;
  font-style: oblique;
  margin-left: 50px;
}
.layout-footer {
  background-color: var(--black-transparent);
  display: flex;
  gap: 100px;
  flex-direction: row;
  margin-top: 100px;
  padding: 30px;
  position: relative;
}
.layout-footer > .col > div {
  margin-bottom: 20px;
}
#Notif {
  width: 200px;
  height: 100px;
  background: var(--white);
  color: var(--black);
  border-radius: 3px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: -500px;
}
.visible {
  animation: movein 0.15s ease forwards, moveout 0.15s 1s ease forwards;
}